:host {
    padding: 10px !important;
}
.image-preview {
    max-height: 100%;
    border-radius: 5px;
    opacity: 0.8;
}
.file-label {
    position: absolute;
    bottom: -10px;
    color: black;
    font-size: 12px;
}